.search {
  border: 2px solid var(--sky-blue);
  border-radius: 0.5rem;
  overflow: hidden;
}

.search .search-input {
  height: 2.1rem;
  border: none;
  padding-inline-start: 0.3rem;
  outline: none;
}
.search .search-input:focus {
  border: none;
}
.search button {
  padding: 0.3rem 0.3rem;
  border: none;
  background-color: var(--sky-blue);
}

.customer-bills .select {
  float: right;
}

table tbody tr td .invoice {
  color: red;
  padding: 0.15em 0.4rem;
  border: 2px solid red;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
}


.cust-details{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}