
.customer-bills .select {
  float: right;
}

table tbody tr td .invoice {
  color: red;
  padding: 0.15em 0.4rem;
  border: 2px solid red;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
}


.cust-details{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}