.receipt-invoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.receipt-invoice .name-logo {
 display: grid;  
 grid-template-columns: 0.4fr 1fr;
 grid-template-rows: auto;
 grid-template-areas: 'left right';
 align-items: start;
 justify-content: center;
}


.company-logo{
  grid-area: left;
}
.company-name{
  grid-area: right;
}
.overall-receipt-gen-container{
  width: 100%;
}

table{
  width: 100%;
}
table thead tr th{
  border: none;
}

table .tr .td{
  border-bottom: 2px solid black;
  border-style: dotted;
}

table tr td .server{
  color: var(--navy-blue);
  text-transform: capitalize;
}
.name-logo h1{
  letter-spacing: .3rem;
  font-weight: 700;
}
.name-logo h1,
h3,
span {
  letter-spacing: 1.2;
  text-transform: uppercase;
  line-height: 1.6;
}


.company-name h3{
  text-align: center;
}
.office-details {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.office-left h4{
  text-align: start;
}
.office-left span {
  text-transform: capitalize;
}
.office-details .office-contacts {
  display: flex;
  flex-direction: column;
}

.office-details .office-contacts .email {
  text-transform: lowercase;
}
.office-details .office-contacts .email span {
  text-transform: capitalize;
}

.bottom .steps span{
  font-size: 1.2rem;
  letter-spacing: .2rem;
  line-height: 1.6;
}

.bottom .account span{
  padding: .2rem 0;
  font-size: 1.2rem;
    letter-spacing: .05rem;
    line-height: 1.6;
}
.payment-process{
  padding: 1rem 0;
}
.next{
  font-size: 1.2rem;
  width: 3rem;
}
.notice{
  text-align: justify;
  padding: 0 1rem;
  letter-spacing: 5;
  line-height: 1.6;
}
.receipt-no{
  text-align: center;
}
.name-logo img{
  width: 8rem;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;

}


.receipt-btn{
  display: flex;
  flex:1 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
 .name-logo{
   border: 1px solid red;
  display:flex;
  flex-direction: column;
 }
 
 .name-logo .company-logo{
  display: none;
 }
.company-name{
  width: 100%;
  border: 2px solid green;
}
  .gen-water-receipt-form-div {
    padding: 0;
      width: 100%;
  }
}
@media screen and (min-width: 641px) and (max-width: 1025px) {
  .overall-receipt-gen-container {
  }
  .gen-water-receipt-form-div {
    padding: 30px;
    width: 80vw;
    margin: auto;
  }
  .generate-receipt-overall-form-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }
}
@media screen and (min-width: 1026px) {
  .overall-receipt-gen-container {
  }
  .gen-water-receipt-form-div {
    padding: 30px;
    width: 80vw;
    margin: auto;
  }
  .generate-receipt-overall-form-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }
}
